  #selAnswers div{
            border: 1px solid black;
            padding:10px;
            margin:5px;
            display: inline-block;
            background-color: darkgray;
        }
.cat{
    font-size: 0.7em;
} 
.que{
    font-size: 1.5em;
}

